# Ignore node_modules, as they will be installed inside the container.
node_modules

# Ignore local development and build artifacts.
.next
npm-debug.log
build
dist

# Ignore Git files
.git
.gitignore

# Ignore environment files (should be managed by the server environment)
.env
.env.local

# Ignore downloaded project folders
Downlaod
